:root {
  --primary-color: #f5fcb9; /* Define a primary color */
  --secondary-color: #b4b983;
  --primary-contrast-color: #ffffff;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --primary-divider-color: #000000;
  --spacing: 10px; /* Define a standard spacing */
  --main-font: 'Arial', sans-serif; /* Define a font */
}

.title {
  font-size: 24px; 
  font-weight: bold;
  color:var( --secondary-text-color); 
  margin-bottom: 10px; 
}



body {
  background-image: url(misc/Img/art/the_west.PNG); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
  justify-content: center; 

  display: flex;
  flex-wrap: wrap;

}

.main-content {
  width: 75%; 
  size: cover;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative; 
  overflow: hidden; 
  border: 1px solid   var(--primary-divider-color);
}

.main-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('misc/Img/art/rock.PNG');
  background-size: cover; 
  background-repeat: repeat;
  filter: blur(.5px);
  z-index: -1; 
}


.intro {
  width: 100%;
  color: #ccc;
  background-color: #000000;
}

.links {
  width: 100%;
  color: #ccc;
  background-color: #000000;
}

.links img{
  max-width: 5%;
  float: right;
  height: auto;
  margin-right: 20px;
}

.card-container {
  width: 80%; 
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.card {
  margin: auto;
  width: 30%;
  padding: 2%;
  border: 1px solid   var(--primary-divider-color);
  border-radius: 8px;
  flex: 1 0 calc(33.33% - 20px); 
  box-sizing: border-box; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background: linear-gradient(
    to top, 
    var(--primary-contrast-color) 0%, 
    var(--primary-contrast-color) 25%, 
    var(--secondary-color) 25%,
    var(--secondary-color) 100%
  );
}

.card img {
  align-self: center;
  width: 80%;  
  height: 100px; 
  border-radius: 20px;
  object-fit: cover;
  border: 1px solid   var(--primary-divider-color);
}

@media screen and (min-width: 600px) {
  .card img {
    max-height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .card img {
    max-height: 800px;
  }
}

@media screen and (min-width: 2560) {
  .card img {
    max-height: 1600px;
  }
}

.card p{
  height: 20%;
  width: 80%;
  align-self: center;
  border-top: 1px solid  var(--primary-divider-color);
  color: var(--primary-text-color);
}

.card h2{
  width: fit-content;    
  height: fit-content;       
  min-width: 80%;
  
  align-self: center;
  border-top: 1px solid  var(--primary-divider-color);
  color: var(--primary-text-color);
}

.blog {
  max-width: 900px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color:var(--secondary-color);

  border-radius: 8px;
  flex: 1 0 calc(33.33% - 20px); 
  box-sizing: border-box; 
  overflow: auto;
}

.blog:nth-of-type(odd) img {
  float: right;
  max-width: 50%;
  height: auto;
  margin-right: 20px;
}

.blog:nth-of-type(even) img {
  float: left;
  max-width: 50%;
  height: auto;
  margin-right: 20px;
}

.blog:nth-of-type(odd) text {
  float:left;
  max-width: 50%;
  height: auto;
}

.blog:nth-of-type(even) text {
  float:right;
  max-width: 50%;
  height: auto;
}
