.title {
  font-size: 24px; 
  font-weight: bold;
  color: #333; 
  margin-bottom: 10px; 
}

.card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex: 1 0 calc(33.33% - 20px); 
  -webkit-flex: 1 0 calc(33.33% - 20px);
  box-sizing: border-box; 
  max-width: 300px; 
}

.card-container {
  display: -webkit-flex; 
  display: flex;
  -webkit-flex-wrap: wrap; 
  flex-wrap: wrap;
  gap: 20px;
}

.card img {
    max-width: 100%; 
    height: auto; 
}