

<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="components/json.js" type="text/javascript" defer></script>
    <script src="components/blog.js" type="text/javascript" defer></script>
    <script src="components/card.js" type="text/javascript" defer></script>
    <script src="components/project.js" type="text/javascript" defer></script>
    <script src="components/blogCard.js" type="text/javascript" defer></script>
    <script src="components/url.js" type="text/javascript" defer></script>
</head>

<body>
    <div class="main-content">


        <div class="links">
            <div class="home">
              <img src="misc/Img/art/insta_logo.png">
            </div>
          
            <div class="linked_text">
              <a href="URL">Link Text</a>
            </div>
          
            <div class="linked_image">
              <img src="misc/Img/art/insta_logo.png">
              <img src="misc/Img/art/linkedin_logo.png">
              <img src="misc/Img/art/email_logo.jfif">
            </div>
          </div>
          

        <div class="container">

            <div class="portfolio">

                <div class="banner">
                </div>
                
                <blog-component 
                    path="blog/gulls">
                </blog-component>

                <p>text</p>
            </div>

            <div class="profile">
                <div class="intro">
                    <img src="misc/Img/art/me.jfif">
                    <h1 class="title">Alasdair PB</h1>

                    <h2>About me</h2>
                    <p>
                        Game Developer, Artist and Skater- currently working as a software engineer for Unity Technologies.
                    </p>

                    <p>
                        All content created during my time at unity appears on this site with the permission of my Manager.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

